<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="shuffleChildren.js"></script>
<style>
    .shuffle {
        display: flex;
        flex-wrap: wrap;
        width : 600px;
    }

    .col {
        width : 100px;
        margin: 5px;
        background: tomato;
        height: 50px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>

<div class="shuffle">
  <div class="col">A</div>
  <div class="col">B</div>
  <div class="col">C</div>
  <div class="col">D</div>
  <div class="col">E</div>
  <div class="col">F</div>
  <div class="col">G</div>
  <div class="col">H</div>
  <div class="col">I</div>
  <div class="col">J</div>
  <div class="col">K</div>
  <div class="col">L</div>
  <div class="col">Free</div>
  <div class="col">N</div>
  <div class="col">O</div>
  <div class="col">P</div>
  <div class="col">Q</div>
  <div class="col">R</div>
  <div class="col">S</div>
  <div class="col">T</div>
  <div class="col">U</div>
  <div class="col">V</div>
  <div class="col">W</div>
  <div class="col">X</div>
  <div class="col">Y</div>
</div>

<input type="checkbox" name="freeSpace" id="freeSpace">
<label for="freeSpace" >The center square is the free space</label>
<input type="button" onclick="generateCard()" value="Shuffle">


<script>

$(document).ready(function(){
    saveAllCards();
})

</script>